@{
    ViewBag.Title = "Web Dashboard";
}

<div id="fb-root"></div>
<script src="@Url.Content("~/Scripts/Account/facebook.js")" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/black-tie/jquery-ui.css" rel="Stylesheet" type="text/css"/>
<link href="@Url.Content("~/CSS/account.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/CSS/stocks.css")" type="text/css" rel="stylesheet" />
<link href="@Url.Content("~/CSS/jquery.ui.chatbox.css")" rel="Stylesheet" type="text/css"/>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.chatbox.js")" type="text/javascript"></script>
<script src="http://js.pusher.com/2.0/pusher.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/chat.js")" type="text/javascript"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Stocks/getStocks.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/stockSearch.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Stocks/stockAutoComplete.js")" type="text/javascript"></script>

<div id="chat_div"></div>


<div class="row-fluid">
<div class="span4">
    <h4>Message Board</h4>

        <div id="fb-root"></div>
        <div class="fb-comments" data-href="http://vm549-6.se.rit.edu/" data-width="300" data-num-posts="10"></div>



    </div>
    <div id="friendStatusUpdates" class="span4 well">
        <div><h4>Friend Status Updates</h4></div>
        <div id="loadingStatusUpdates"><h5>Loading...</h5></div>        
    </div>



 <div class="span4">

        <div id="stocksDiv" class="well">
            <h4>Top 5 Stocks</h4>
            <table id="topStockTable" class="table">
                <thead>
                    <tr>
                        <td>Symbol</td>
                        <td>Last Price</td>
                        <td>Change</td>
                        <td>Shares</td>
                    </tr>
                </thead>
                <tbody id="topStockBody">
                    @using Web_Engineering_549.Services
                        @{
                            StockService stockService = new StockService();
                            AccountService accountService = new AccountService();
                            HttpCookie cookie = Request.Cookies["SESSION_ID"];
                            Dictionary<string, int> topFiveStocks = stockService.GetTopFiveStocks(accountService.getUserID(new Guid(cookie.Value)));

                            JsonResult result = new JsonResult();
                        }
                    @foreach (KeyValuePair<string, int> entry in topFiveStocks)
                    {
                        <tr id="@entry.Key"><td>@entry.Key</td><td></td><td></td><td>@entry.Value</td></tr>
                        <script type="text/javascript">
                            loadTopFiveStockRow("@entry.Key" , "@entry.Value" );
                        </script>
                    }
                </tbody>
            </table>
                @using (Html.BeginForm("StockInfo", "Stocks", FormMethod.Get, new { @class = "form-search"}))
                {
                    
                    <div class="input-append">
                        <input id="stockSearchField" name="symbol" placeholder="symbol" type="text" class="input-medium search-query"></input>
                        <button id="stockSearch" type="submit" class="btn">Search</button>
                    </div>
                }
        </div>
        <div class="well">
            <h4>Upcoming Events</h4>
            <table id="topEventTable" class="table">
                <thead>
                    <tr>
                        <td>Symbol</td>
                        <td>Last Price</td>
                        <td>Change</td>
                        <td>Shares</td>
                    </tr>
                </thead>
                <tbody id="topEventBody">
                </tbody>
            </table>
        </div>
</div>
</div>

